# Ignore local dependency installation
node_modules/

# Ignore build/output directories
output/
build/
dist/

# Ignore logs
*.log
npm-debug.log*

# Ignore local OS files
.DS_Store
Thumbs.db

# Ignore editor files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.md
